<div class="sample-template">

	<div class="page-header">
		<h1>{{ pageTitle }}</h1>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body">
			<div data-grid-view="$ctrl.gridViewConfig"></div>
		</div>
	</div>

</div>