<ul class="pagination pagination-sm" ng-if="1 < pages.length">
  
  <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
    <a href="" ng-click="setCurrent(pagination.current - 1)">
      <i class="fa fa-caret-left"></i>
    </a>
  </li>
  
  <li 
  	ng-repeat="pageNumber in pages track by $index" 
  	ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" 
  	class="hidden-xs">
    <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
  </li>
  
  <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
    <a href="" ng-click="setCurrent(pagination.current + 1)">
      <i class="fa fa-caret-right"></i>
    </a>
  </li>

</ul>