<div class="grid-view">

  <div class="table-responsive">
    <table class="table" ng-class="{ 'table-hover': config.data != null && searchResults.length > 0 }">
      <thead ng-if="config.headers">
        <tr>
          <th class="actions" ng-if="config.actions">&nbsp;</th>
          <th ng-repeat="item in config.headers" ng-class="{ 'sorted': config.sortType == item.field }">
            <a ng-click="config.sortType = item.field; config.sortReverse = !config.sortReverse" ng-if="item.sortable">
            	{{ item.label }}
              <i ng-show="config.sortType == item.field && !config.sortReverse" class="fa fa-caret-down"></i>
              <i ng-show="config.sortType == item.field && config.sortReverse" class="fa fa-caret-up"></i>
            </a>
            <span ng-if="!item.sortable">{{ item.label }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="row in searchResults = (config.data | filter: searchQuery) | orderBy: config.sortType : config.sortReverse | itemsPerPage: itemsPerPage" pagination-id="config.title">
          <td ng-if="config.actions">
            <button class="btn btn-default btn-xs" ng-if="config.actions.edit" ng-click="config.actions.edit(row.id)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-default btn-xs" ng-if="config.actions.delete" ng-click="config.actions.delete(row.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
          <td ng-repeat="cell in config.headers" ng-bind-html="row[cell.field]"></td>
        </tr>
        <tr ng-if="searchResults.length == 0">
          <td colspan="{{ config.headers.length + (config.actions ? 1 : 0) }}" class="text-center no-records">
            No records found
          </td>
        </tr>
        <tr ng-if="config.data == null">
          <td colspan="{{ config.headers.length + (config.actions ? 1 : 0) }}">
            <spinner />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="grid-view-footer">
      
    <dir-pagination-controls 
      pagination-id="config.title"
      max-size="5"
      template-url="./app/shared/directives/grid-view/pagination.html">
    </dir-pagination-controls>
  
    <div class="form-inline items-per-page">
      <div class="form-group">
        <select 
        	class="form-control input-sm" 
        	ng-model="itemsPerPage" 
        	ng-options="option for option in itemsPerPageOptions">
        </select>
        <label class="control-label">Items per page</label>
      </div>
    </div>

  </div>

</div>