<header class="navbar navbar-inverse">
	<div class="container-fluid">
	
		<div class="navbar-header">
	    
	    <button type="button" class="navbar-toggle collapsed" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
	      <span class="sr-only">Toggle Menu</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    
	    <a class="navbar-brand" href="/">
	      {{ APP_NAME }}
	    </a>

	  </div>
	  
	  <nav class="collapse navbar-collapse" ng-class="{ 'in': !$ctrl.isCollapsed }" id="main-nav-bar">
	  	<div data-main-navigation=""></div>
	  </nav>

	</div>
</header>

<div class="container" data-ui-view="main">
</div>

<footer>
	<div class="container">
		<p>&copy; {{ $ctrl.year + ' ' + $ctrl.COMPANY_NAME }}</p>
	</div>
</footer>