<!DOCTYPE html>
<html data-ng-app="app">
	
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="">
    <meta name="description" content="">
	
		<title>{{ APP_NAME + ' ' + pageTitle }}</title>
	
		<link href="css/styles.css" rel="stylesheet" type="text/css" media="all">

	</head>
	
	<body>
		
		<div id="app-container" data-ui-view></div>

		<script src="app/bundle.js"></script>

	</body>

</html>