/**
 * Sass Variables and overrides
 */

// colors
$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// fonts
$icon-font-path: "../assets/fonts/bootstrap/" !default;
$fa-font-path: "../assets/fonts/font-awesome" !default;